<!DOCTYPE html>
<html ng-app="SitStayApp">
<head>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <title>SitStay</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/webshim/1.15.10/dev/polyfiller.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag    'datedropper', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'app' %>
  <%= javascript_include_tag 'datedropper.min' %>
  <%= csrf_meta_tags %>

</head>
<body ng-controller="PostingsController">
<div class="ui container"> 
  <div class="page-wrapper">


    <!-- INTRO BAR PANEL -->
    <div class="panel" id="intro-bar">
      <%= render 'intro' %> 
      <div class="paw-container hidden" id="one"><%= render 'paw' %></div>
      <div class="paw-container hidden" id="two"><%= render 'paw' %></div>
      <div class="paw-container hidden" id="three"><%= render 'paw' %></div>
      <div class="paw-container hidden" id="four"><%= render 'paw' %></div>
      <div class="paw-container hidden" id="five"><%= render 'paw' %></div>
      <div class="paw-container hidden" id="six"><%= render 'paw' %></div>
      <div class="paw-container hidden" id="seven"><%= render 'paw' %></div>
      <div class="paw-container hidden" id="eight"><%= render 'paw' %></div>
    </div>


    <!-- PET OWNER or PET SITTER -->

    <div id="ownersitter" class="panel">
      <%= render 'ownersitter' %>
    </div>

    <!-- LOOKING FOR -->
    <form class="ui form" ng-submit="savePosting()">
      <div id="lookingfor" class="panel">
        <%= render 'lookingfor' %>
      </div>


      <!-- PET OWNER INFO -->
      <div class="panel" id="petowner">
        <%= render 'petowner' %>
        <footer>
          <p class="direction mint-text">Now, about your pet...</p>
          <a href="#petinfo"><i class="circular big mint angle double down icon"></i></a>
          <a href="#petinfo"><i class="circular large mint angle double down icon"></i></a>
        </footer>
      </div>

      <!-- PET INFO -->
      <div class="panel" id="petinfo">
        <%= render 'petinfo' %>
      </div>

      <!-- SIT/STAY INFO -->
      <div class="panel" id="sitstayinfo">
        <%= render 'sitstayinfo' %>
      </div>
      

      <!-- VIEW ALL POSTINGS -->
      <div class="panel" id="viewpostings">
        <%= render 'viewpostings' %>
      </div>
  </form>

  </div>

</div>

</body>
</html>

